.header_container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
}


.navi_container {
    display: flex;
    padding-left: 76px;
}

.navi_container_item {
    padding: 40px;
}


.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 182px;
    padding-bottom: 182px;
}

.section_container {
    display: flex;
    padding-top: 120px;    
}

.pic_container {
    display: flex;
    justify-content: center;
    padding: 0px 0px 120px 0px;
}

.team_container {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.portfolio_navi_container {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 72px;
}

.portfolio_pic_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 120px;
    row-gap: 24px;
    column-gap: 12px;
    }

.footer_container {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}