* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

:root {
    --dark: #2e2f42;
    --text: #434455;
    --ocean: #404bbf;
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

body {
    margin: auto;
    font-family: var(--main-font);
    color: var(--text);
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.01em;
    max-width: 1440px;
}

.container {
    width: 1158px;
    padding: 0px 15px;
    margin: auto;
}

.header_section {
    border-bottom: 1px solid #E7E9FC;
}

.portfolio_button {
    color: #4D5AE5;
    background-color: #E7E9FC;
    width: 116px;
    height: 48px;
    margin: 12px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.portfolio_button:active {
    background-color: #404BBF;
    color: #FFFFFF;

}

.portfolio_button:hover {
    background-color: #404BBF;
    color: #FFFFFF;

}


.firm_name {
    color: #4D5AE5;
    font-family: Raleway;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

.navigation {
    color: #2E2F42;
    list-style: none;
    font-weight: 500;
    size: 16px;
    line-height: 24px;

}


.navigation_link {
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.navigation_link:hover {
    color: #404BBF;
}

.navigation_link:active {
    color: #4D5AE5;
}

.adress {
    font-style: normal;
    padding-left: 190px;
}

.contact-links {
    text-decoration: none;
    color: #434455;
    padding: 20px;
}

.contact-links:hover {
    color: #404BBF
}

.contact-links:active {
    color: #4D5AE5;
}

.title_section {
    background-color: #2E2F42;
    width: 1440px;

}

.main_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    padding-bottom: 24px;
}

.header_button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-family: inherit;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
}

.header_button:hover {
    background-color: #404BBF;

}

.target_list {
    list-style: none;
    padding: 24px;
}

.target_titles {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
}

.doing_pics {
    list-style: none;
    padding: 0px 12px 0px 12px;
}

.goals {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.section_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 120px 0px 72px 0px;
}

.team_section {
    width: 1440px;
    background-color: #F4F4FD;
}

.person {
    background: #FFFFFF;
    padding: 32px 16px 32px 16px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
}

.team_pics {
    list-style: none;
    letter-spacing: 0.01em;
    padding: 0px 12px 0px 12px;
}

.pic_name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
}

.menu_button {
    list-style: none;
}

.portfolio_description {
    padding: 32px 0px 32px 0px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.porfolio_pics {
    list-style: none;
}

.pic_description {
    color: #2E2F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.footer {
    width: 1440px;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_text {
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 24px;
    padding-top: 16px;
}